@import 'open-props/shadows';
@import 'open-props/borders';
@import 'open-props/fonts';

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-px-50);
  height: var(--size-px-50);
  font-size: var(--font-size-4);
  background-color: var(--yellow-2);
  border: var(--border-size-2) solid var(--gray-5);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-4), var(--inner-shadow-4);
  color: var(--gray-9);

  &:not(:last-child) {
    margin-right: var(--size-fluid-1);
  }
  
  &.selected {
    background-color: var(--blue-2);
  }
  
  &.border {
    border: var(--border-size-2) solid var(--gray-9);
  }
  
  &.bonus {
    background-color: var(--red-5);
  }

}
