/* Colours */
@import "open-props/blue";
@import "open-props/gray";
@import "open-props/yellow";
@import "open-props/red";

/* Layout */
@import "open-props/borders";
@import "open-props/shadows";

/* Typography */
@import "open-props/fonts";

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: var(--font-size-4);
  background-color: var(--yellow-2);
  border: var(--border-size-2) solid var(--gray-5);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-4), var(--inner-shadow-4);
  color: var(--gray-9);
}

.ball:not(:last-child) {
  margin-right: var(--size-fluid-1);
}

.selected {
  background-color: var(--blue-2);
}

.border {
  border: var(--border-size-2) solid var(--gray-9);
}

.bonus {
  background-color: var(--red-5);
}